.div-right-login
{
	margin-top:125px;
	padding-top:10px;
	padding-bottom:10px;
}


.div-login
{
	border:1px solid #ededed;
	margin:0 auto;
	 width:320px; 
	margin-top:160px;
	padding: 20px;
	font-size:16px;
}

li
{
}
.span-title
{
	display:block;
	font-weight:bold;
}
.input
{
	display:block;
	width:300px;
	height:24px;
	margin-top:10px;
	margin-bottom:10px;
	outline:none;
}
.button
{
	margin-top:20px;
	font-size:16px;
	height:30px;
}

@media (max-width: 768px) {



}